@media screen and (min-width: 768px){
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 35px;
        column-gap: 24px;
        padding-top: 70px;
    }
}

@media screen and (min-width: 1280px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 32px;
        column-gap: 28px;
    }
}

.cards__more{
    margin-top: 80px;
    text-align: center;
}

@media screen and (min-width: 768px){
    .cards__more{
        grid-column: 1 / 3;
        margin-top: 45px;
    }
}

@media screen and (min-width: 1280px){
    .cards__more{
        grid-column: 1 / 4;
        font-size: 12px;

    }
}


.cards__not-found{
    text-align: center;
}

@media screen and (min-width: 768px){
    .cards__not-found{
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 1280px){
    .cards__not-found{
        grid-column: 1 / 4;
        font-size: 12px;

    }
}

.cards__error{
    text-align: center;
}

@media screen and (min-width: 768px){
    .cards__error{
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 1280px){
    .cards__error{
        grid-column: 1 / 4;
        font-size: 12px;

    }
}

.cards__btn{
    display: inline-block;
    width: 240px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: none;
    background: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 11px;
    transition: opacity .3s ease;
}

.cards__btn:hover{
    opacity: .8;
}

@media screen and (min-width: 1280px){
    .cards__btn{
        padding-left: 145px;
        padding-right: 145px;
    }
}