.not-found{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px){
    .not-found__content{
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px){
    .not-found__content{
        margin-top: auto;
        padding: 60px;
    }
}

.not-found__title{
    margin: 0;
    font-weight: normal;
    font-size: 80px;
    line-height: 97px;
}

@media screen and (min-width: 768px){
    .not-found__title{
        font-size: 140px;
        line-height: 169px;
    }
}

.not-found__desc{
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 0;
}

@media screen and (min-width: 768px){
    .not-found__desc{
        font-size: 16px;
        line-height: 19px;
        margin: 5px 0 0;
    }
}

.not-found__back{
    font-size: 12px;
    line-height: 15px;
    color: #3456F3;
    text-decoration: none;
    transition: opacity .3s ease;
    margin-top: auto;
}

@media screen and (min-width: 768px){
    .not-found__back{
        margin-top: 184px;
    }
}

@media screen and (min-width: 1200px){
    .not-found__back{
        margin-top: auto;
        font-size: 14px;
    }
}

.not-found__back:hover{
    opacity: .8;
}