.card{
    width: 100%;
    overflow: auto;
    margin-top: 16px;
    background: #FDFDFD;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    box-sizing: border-box;
}

.card:first-of-type{
    margin-top: 40px;
}

@media screen and (min-width: 768px){
    .card:first-of-type,
    .card{
        margin-top: 0;
    }
}

.card__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

@media screen and (min-width: 768px){
    .card__header{
        padding: 18px;
    }
}

.card__title{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

@media screen and (min-width: 768px){
    .card__title{
        font-size: 15px;
    }
}

.card__duration{
    margin: 0;
    color: #A0A0A0;
    font-size: 10px;
    line-height: 18px;
}

@media screen and (min-width: 768px){
    .card__duration{
        font-size: 13px;
    }
}

.card__img{
    width: 100%;
    height: 168px;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: 768px){
    .card__img{
        height: 190px;
    }
}

@media screen and (min-width: 1200px){
    .card__img{
        height: 200px;
    }
}

.card__footer{
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px){
    .card__footer{
        padding: 18px;
    }
}

.card__btn{
    background: #F9F9F9;
    border-radius: 30px;
    font-size: 12px;
    line-height: 11px;
    border-radius: 45px;
    text-align: center;
    min-width: 100px;
    min-height: 29px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: opacity .3s ease;
}

.card__btn_type_saved{
    background-color: #FF3055;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../images/icon-saved.svg);
}

.card__btn_type_delete{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../images/icon-delete.svg);
}

.card__btn:hover{
    opacity: .8;
}
