.about-project__content{}

.about-project__article{
    margin-bottom: 56px;
}

.about-project__article:last-of-type{
    margin-bottom: 60px;
}

.about-project__article-title{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.04em;
}

.about-project__article-text{
    margin: 0;
    line-height: 1.45;
}

.bar{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 100%;
}

.bar__item{
    width: 100%;
}

.bar__item_type_backend{
    max-width: 100px;
}

.bar__line{
    background: #F2F2F2;
    padding: 11px 10px;
    font-size: 11px;
    line-height: 13px;
}

.bar__line_bg_green{
    background: #2BE080;
}

.bar__title{
    margin: 0;
    line-height: 13px;
}

.bar__desc{
    margin-top: 10px;
    margin-bottom: 0;
    color: #A0A0A0;
    line-height: 13px;
}